@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    position: fixed;
    min-width: 100%;
    display: flex;
}

body {
    overflow-x: hidden;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.bg-image {
    background: url('./Component/assests/17520.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
